body {
    padding: 0;
    margin: 0;
    outline: 0 !important;
    font-family: 'Comfortaa', cursive !important;
    background: #F2F3F3 !important;
}

header {
    width: 100%;
    height: 50px;
    background: #222222;
    display: flex !important;
    flex-direction: row;
}

.head {
    height: 50px;
    width: 100%;
    background: #eceded !important;
    color: #222222;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px #bfbfbf solid;
}

.logo {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo .name {
    display: flex;
    align-items: center;
    height: 100%;
}

.logo a, .logo a:visited {
    font-weight: bold;
    color : #222222 !important;
}

.logo a:hover {
    text-decoration: none;
}

.logo img {
    margin-right: 5px;
    height: 40px;
}

.search-box {
    height: 40px;
}

.search-box form {
    display: flex;
    flex-direction: row;
    height: 40px;
    align-items: center;
}

.search-box .search {
    width: 300px;
    height: 100%;
    border: 1px #bfbfbf solid;
    border-radius: 5px;
    padding-left: 40px;
    color: #ff8d1c;
    outline: 0;
}

.search-box .search::placeholder {
    color: #bfbfbf;
}

.search-box .submit {
    width: 20px;
    height: 20px;
    padding: 0;
    font-size: 20px;
    color: #ff8d1c;
    transform: translateX(30px) rotate(0);
    border: none;
    background: none;
    transition: 0.3s ease;
}

.search-box:hover .submit {
    transform: translateX(30px) rotate(90deg);
}

.search-box .submit:hover {
    color: #ff841b;
}

.search-box .submit span {
    top: -1px;
}

.account {
    height: 40px;
    background: #ff8d1c;
    border: 1px #bfbfbf solid;
    border-radius: 5px;
}

.account a, .account a:focus, .account a:active, .account a:visited {
    font-weight: bold;
    color: white;
}

.account:hover a, .account a:hover {
    text-decoration: none;
    color: white;
}

.account:hover {
    background: #ff841b;
}