.question, .answers, .add-question {
    margin: 50px 10%;
}

.title {
    margin-bottom: 0 !important;
}

.question .author {
    margin-top: 0 !important;
}

.question .author a {
    color: #ff841b;
}

.category, .state {
    border: none;
    height: 30px;
    background: rgb(228, 228, 228);
    color: #ff841b;
    outline: none;
}

.category a {
    color: #ff841b;
}

.state {
    cursor: initial;
}

.state.open {
    color: green;
}

.state.closed {
    color: red;
}

.horizontal-separator, .horizontal-separator-mini {
    width: 80%;
    height: 1px;
    background-color: #bfbfbf;
    margin: 25px 10%;
}

.horizontal-separator-mini {
    margin: 5px 0;
    width: 50%;
    background-color: #ff841b;
}

.question p {
    margin-top: 30px;
    text-align: justify;
}

.question + .horizontal-separator {
    background: #ff841b;
}

.answer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.answer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.answer .content {
    width: 100%;
    text-align: justify;
    padding-right: 10%;
}

.answer .vote, .answer .mark-correct {
    align-items: center;
    width: 50px;
    font-size: 15px;
}

.mark-correct {
    font-size: 20px !important;
}

.answers .horizontal-separator:last-child {
    display: none;
}

.answer a {
    color: #ff841b;
}

.answer .vote a:hover, .answer .mark-correct a.owned:hover {
    color: #ff730b;
}

a.selected {
    color: green;
}

a.against.selected {
    color: red;
}

.no-answer, .add-answer {
    text-align: center;
    padding: 0 10%;
}

.add-answer form div {
    margin: 25px 0;
}

#submit-section button {
    height: 30px;
    width: 100px;
    border: 1px #222222 solid;
    color: #222222;
    background: none;
    font-weight: bold;
    transition: 0.5s ease;
}

#answer-section textarea {
    min-width: 80%;
    max-width: 80%;
    min-height: 100px;
    max-height: 150px;
    outline: none;
    color: #ff841b;
    padding: 5px 0 0 5px;
    border: #bfbfbf 1px solid;
}

#submit-section button:hover {
    background: #222222;
    color: #F2F3F3;
}

.modify-question, .modify-question:visited, .modify-question:focus {
    color: #ff841b;
}

.modify-question:hover {
    color: #ff730b;
}

.duplicated-link {
    color: #ff8d1c;
}

.duplicated-link:hover, .duplicated-link:active, .duplicated-link:visited, .duplicated-link:focus {
    color: #ff841b;
}

.add-question {
    text-align: center;
}

.add-question-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 30px;
    width: 50%;
}

.form-section input, .form-section textarea {
    max-width: 100%;
    min-width: 100%;
    outline: none;
    padding-left: 5px;
    color: #ff8d1c;
}

.form-section input {
    height: 30px;
}

.form-section select {
    outline: none;
}

.form-section textarea {
    min-height: 129px;
}

.disabled {
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}

.modal {
    transform: translateY(25%);
}